.App {
  max-width: 48rem;
  margin: auto;
}

.container {
  max-width: 500px;
  margin: 0 2rem;
}

.poster {
  width: 126px;
  height: 189px;
  padding: 0.5rem;
}

.movies-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  padding: 0.5em 0.75em;
  margin-right: 0.5rem;
  font-size: 1em;
  font-weight: 600;
  color: #282c34;
  background-color: aliceblue;
  border-radius: 8px;
  border: none;
}
